* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 100vw;
  max-width: 1900px;
  margin: 0rem;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.navbar-links-container {
  color: #f6f6f6;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-social-media-icons  {
    color: #f6f6f6;
      margin-left: 60px;
      top: 32rem;
      position: relative;
      width: 20rem;
          z-index: 2;
}
.navbar-social-media-icons a {
  margin: 15px 40px 15px 15px;
  font-size: 25px;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.nav-logo{
  padding: 30px;
}

.home-container {
  background-image: url("../src/Assets/fondst.png");
  background-size: cover;
    background-position: 50% 80%;
    height: 100vh;
    /* width: 100vw; */
    z-index: 0;
    position: fixed;
    width: 100%;
    /* top: 78rem; */
    z-index: 2;
}
.tedy{
  background-image: url("../src/Assets/teddy.png");
  background-size: cover;
  background-position: 50% 66%;
    height: 88vh;
      /* width: 93vw; */
      position: relative;
      z-index: 1;
      /* margin-top: 11px; */
      display: flex;
      justify-content: center;
      top: -65px;
      align-items: center;
}
/* RESPONSIVE */
/* Extra Small Devices (Téléphones portables) : jusqu'à 576px */
@media (min-width: 300px) and (max-width: 575px){
  /* Styles spécifiques pour les téléphones portables */

  .Connexion {
    height: 50px;
    background-color: #0A0095;
    color: wheat;
    border-radius: 9px;
    cursor: pointer;
    width: 100%;
    border: none;
    font-size: 20px;
    position: relative;
    overflow: hidden;
  }
  .navbar-links-container a {
    margin-right: 1rem;
  }
  .navbar-links-container {
    width: 134px;
  }
  .navbar-social-media-icons{
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    padding-top: 36px;
  }
  .nav-logo {
    padding: 0px;
  }
  .svg-container {
    display: none;
  }
    .explorer {
      height: 50px;
      background-color: #0A0095;
      width: 14rem;
      color: wheat;
      border-radius: 9px;
      cursor: pointer;
      border: none;
      font-size: 20px;
      position: relative;
      top: 17rem;
    }
  .tedy{
        top: 7px;
  }
  .tedy-banner {
      z-index: 0;
      position: relative;
      top: -40rem;
      left: 2rem;
      color: #f6f6f6;
    }
  
    .tedy-banner-h1 {
      font-size: 3rem;
      font-weight: 500;
    }
  
    .tedy-banner span {
      font-size: 1rem;
      margin-left: 16px;
    }
    .year-banner {
      position: relative;
      font-size: 8rem;
      font-family: Bebas Neue;
      color: #806C51;
      font-weight: 500;
      z-index: 1;
      font-weight: 600;
      line-height: 1rem;
    }

    .combat-presentation {
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .blur-description {
      width: 21rem;
      height: 11rem;
      background-color: #747BBF;
      color: #000;
      padding: 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.2);
      color: #f6f6f6;
      bottom: 1rem;
      margin-bottom: 0;
      position: relative;
      font-weight: 500;
      font-family: "Outfit", sans-serif;
    }

    .name-banner {
      top: 1rem;
      width: 17rem;
      text-align: center;
      position: relative;
      z-index: 2;
      font-weight: 700;
      line-height: 40px;
      color: #A1B0FF;
      font-size: 48px;
    }

    .champion-image img {
    display: block;
    width: 20rem;
    height: 16rem;
    }

    .dates-banner li {
      padding: 10px;
      flex: auto;
    }
    .Main-container{
    margin-right: 0;
      margin-top: 0;
    }
    .Main {
      height: 50px;
      background-color: #0A0095;
      width: 7rem;
      height: 44px;
      color: wheat;
      border-radius: 9px;
      cursor: pointer;
      border: none;
      font-size: 18px;
      margin: 0px 30px 0px 0px;
    }
    .progressbar {
      top: 15rem;
      left: 23.5rem;
      bottom: 0;
      width: 8px;
      height: 20rem;
    }

    .progress-container {
      top: 15rem;
      left: 23.5rem;
      bottom: 0;
      width: 8px;
      height: 20rem;
    }
}
@media (min-width: 576px) and (max-width: 710px) {
  .tedy-banner {
      z-index: 0;
      position: relative;
      top: -37rem;
      left: 5rem;
      color: #f6f6f6;
    }
  
    .tedy-banner-h1 {
      font-size: 5rem;
      font-weight: 500;
    }
  
    .tedy-banner span {
      font-size: 1rem;
      margin-left: 16px;
    }
  
    .tedy {
      margin-left: 130px;
    }
    .Connexion {
      width: 12rem;
    }
    .navbar-links-container a {
      margin-right: 3rem;
    }
    .year-banner {
      position: relative;
      font-size: 10rem;
      font-family: Bebas Neue;
      color: #806C51;
      font-weight: 500;
      z-index: 1;
      font-weight: 600;
      line-height: 1rem;
    }

    .combat-presentation {
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .blur-description {
      width: 30rem;
      height: 9rem;
      background-color: #747BBF;
      color: #000;
      padding: 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.2);
      color: #f6f6f6;
      bottom: 1rem;
      margin-bottom: 20px;
      position: relative;
      font-weight: 500;
      font-family: "Outfit", sans-serif;
    }

    .name-banner {
      top: 1rem;
      /* width: 20rem; */
      position: relative;
      z-index: 2;
      font-weight: 700;
      line-height: 36px;
      color: #A1B0FF;
      font-size: 48px;
    }

    .champion-image img {
      display: block;
      width: 31rem;
      height: 21rem;
    }

    .dates-banner li {
      padding: 18px;
    }
        .explorer {
          height: 50px;
          background-color: #0A0095;
          width: 14rem;
          color: wheat;
          border-radius: 9px;
          cursor: pointer;
          border: none;
          font-size: 20px;
          position: relative;
          top: 12rem;
        }
        .progressbar {
          top: 15rem;
          left: 33.5rem;
          bottom: 0;
          width: 8px;
          height: 20rem;
        }

        .progress-container {
          top: 15rem;
          left: 33.5rem;
          bottom: 0;
          width: 8px;
          height: 20rem;
        }
}
@media (min-width: 711px) and (max-width: 870px) {
  .explorer {
      height: 50px;
      background-color: #0A0095;
      width: 14rem;
      color: wheat;
      border-radius: 9px;
      cursor: pointer;
      border: none;
      font-size: 20px;
      position: relative;
      top: 12rem;
    }
  .tedy-banner {
      z-index: 0;
      position: relative;
      top: -40rem;
      left: 5rem;
      color: #f6f6f6;
    }
  
    .tedy-banner-h1 {
      font-size: 7rem;
      font-weight: 500;
    }
  
    .tedy-banner span {
      font-size: 1rem;
      margin-left: 16px;
    }
  
    .tedy {
      margin-left: 130px;
    }
    .Connexion {
      width: 12rem;
    }
    .navbar-links-container a {
      margin-right: 3rem;
    }
    .year-banner {
    position: relative;
    font-size: 10rem;
    font-family: Bebas Neue;
    color: #806C51;
    font-weight: 500;
    z-index: 1;
    font-weight: 600;
    line-height: 1rem;
    }

    .combat-presentation {
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .blur-description {
    width: 30rem;
    height: 9rem;
    background-color: #747BBF;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #f6f6f6;
    bottom: 1rem;
    margin-bottom: 20px;
    position: relative;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    }

    .name-banner {
    top: 1rem;
    /* width: 20rem; */
    position: relative;
    z-index: 2;
    font-weight: 700;
    line-height: 36px;
    color: #A1B0FF;
    font-size: 48px;
    }

    .champion-image img {
      display: block;
      width: 41rem;
      height: 21rem;
    }
    .dates-banner li {
      padding: 20px;
    }
    .progressbar {
      top: 15rem;
      left: 42.5rem;
      bottom: 0;
      width: 8px;
      height: 20rem;
    }

    .progress-container {
      top: 15rem;
      left: 42.5rem;
      bottom: 0;
      width: 8px;
      height: 20rem;
    }
}
@media (min-width: 871px) and (max-width: 950px) {
  /* Styles spécifiques pour les téléphones portables */
  .tedy-banner {
      z-index: 0;
      position: relative;
      top: -40rem;
      left: 5rem;
      color: #f6f6f6;
    }
  
    .tedy-banner-h1 {
      font-size: 9rem;
      font-weight: 500;
    }
  
    .tedy-banner span {
      font-size: 1rem;
      margin-left: 16px;
    }
    .tedy {
      margin-left: 130px;
    }
    .Connexion {
      width: 12rem;
    }
    .navbar-links-container a {
    margin-right: 3rem;
    }
    .year-banner {
      position: relative;
      width: 28rem;
      font-size: 13rem;
      font-family: Bebas Neue;
      left: 25rem;
      top: 2rem;
      color: #806C51;
      font-weight: 500;
      z-index: 1;
      font-weight: 600;
      line-height: 1rem;
    }
    
    .combat-presentation {
      padding: 0 40px 0 113px;
    }
    
    .dates-banner {
      bottom: 43px;
    }
    .blur-description {
      width: 30rem;
      height: 9rem;
      background-color: #747BBF;
      color: #000;
      padding: 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.2);
      color: #f6f6f6;
      margin-left: 13rem;
      bottom: 2rem;
      position: relative;
      font-weight: 500;
      font-family: "Outfit", sans-serif;
    }
    .name-banner {
      width: 20rem;
      position: relative;
      left: 28rem;
      top: 4rem;
      z-index: 2;
      font-weight: 700;
      line-height: 36px;
      color: #A1B0FF;
      font-size: 44px;
    }
    .champion-image img {
      display: block;
      width: 41rem;
      height: 21rem;
      transform: perspective(1500px) rotateY(24deg);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
    }
        .explorer {
          height: 50px;
          background-color: #0A0095;
          width: 14rem;
          color: wheat;
          border-radius: 9px;
          cursor: pointer;
          border: none;
          font-size: 20px;
          position: relative;
          top: 12rem;
        }
    .progressbar {
      top: 15rem;
      left: 52.5rem;
      bottom: 0;
      width: 8px;
      height: 20rem;
    }

    .progress-container {
        top: 15rem;
          left: 52.5rem;
          bottom: 0;
          width: 8px;
          height: 20rem;
    }
}

/* Small Devices (Tablettes) : de 577px à 768px */
@media (min-width: 951px) and (max-width: 1070px) {
  /* Styles spécifiques pour les tablettes */
  .explorer {
      height: 50px;
      background-color: #0A0095;
      width: 14rem;
      color: wheat;
      border-radius: 9px;
      cursor: pointer;
      border: none;
      font-size: 20px;
      position: relative;
      top: 12rem;
    }
  .tedy-banner {
      z-index: 0;
      position: relative;
      top: -40rem;
      left: 5rem;
      color: #f6f6f6;
    }
  
    .tedy-banner-h1 {
      font-size: 9rem;
      font-weight: 500;
    }
  
    .tedy-banner span {
      font-size: 1.1rem;
      margin-left: 16px;
    }
    .tedy{
      margin-left: 130px;
    }
        .Connexion {
          width: 12rem;
        }
    .navbar-links-container a {
      margin-right: 3rem;
    }
    .year-banner {
      position: relative;
      width: 28rem;
      font-size: 14rem;
      font-family: Bebas Neue;
      left: 29rem;
      top: 3rem;
      color: #806C51;
      font-weight: 500;
      z-index: 1;
      font-weight: 600;
      line-height: 1rem;
    }
    .combat-presentation {
      padding: 0 40px 0 113px;
    }
    .dates-banner {
      bottom: 43px;
    }
    .blur-description {
      width: 30rem;
      height: 9rem;
      background-color: #747BBF;
      color: #000;
      padding: 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.2);
      color: #f6f6f6;
      margin-left: 20rem;
      bottom: 2rem;
      position: relative;
      font-weight: 500;
      font-family: "Outfit", sans-serif;
    }
    .name-banner {
      width: 20rem;
      position: relative;
      left: 34rem;
      top: 5rem;
      z-index: 2;
      font-weight: 700;
      line-height: 36px;
      color: #A1B0FF;
      font-size: 44px;
    }
    .champion-image img {
      display: block;
      width: 47rem;
      height: 21rem;
      transform: perspective(1500px) rotateY(24deg);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
    }
    .progressbar {
      top: 15rem;
      left: 57rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
    }

    .progress-container {
      top: 15rem;
      left: 57rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
    }
}

/* Medium Devices (Ordinateurs portables) : de 769px à 992px */
@media (min-width: 1071px) and (max-width: 1130px) {
  /* Styles spécifiques pour les ordinateurs portables */
  .explorer {
      height: 50px;
      background-color: #0A0095;
      width: 14rem;
      color: wheat;
      border-radius: 9px;
      cursor: pointer;
      border: none;
      font-size: 20px;
      position: relative;
      top: 12rem;
    }
  .tedy-banner {
      z-index: 0;
      position: relative;
      top: -40rem;
      left: 5rem;
      color: #f6f6f6;
    }
  
    .tedy-banner-h1 {
      font-size: 11rem;
      font-weight: 500;
    }
  
    .tedy-banner span {
      font-size: 1.1rem;
      margin-left: 16px;
    }
    .tedy {
      margin-left: 100px;
    }
    .Connexion {
      width: 12rem;
    }
    .navbar-links-container a {
      margin-right: 3rem;
    }
    .year-banner {
      position: relative;
      width: 28rem;
      font-size: 20rem;
      font-family: Bebas Neue;
      left: 25rem;
      top: 4rem;
      color: #806C51;
      font-weight: 500;
      z-index: 1;
      font-weight: 600;
      line-height: 1rem;
    }
    .name-banner{
    left: 40rem;
    top: 8rem;
    width: 25rem;
    position: relative;
    z-index: 2;
    font-weight: 700;
    line-height: 36px;
    color: #A1B0FF;
    font-size: 44px;
    }
    .combat-presentation {
      padding: 0 40px 0 113px;
    }
    .dates-banner {
      bottom: 43px;
    }
    .blur-description {
      width: 30rem;
      height: 9rem;
      background-color: #747BBF;
      color: #000;
      padding: 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.2);
      color: #f6f6f6;
      margin-left: 26rem;
      bottom: 3rem;
      position: relative;
      font-weight: 500;
      font-family: "Outfit", sans-serif;
    }
    .champion-image img {
      display: block;
      width: 47rem;
      height: 21rem;
      transform: perspective(1500px) rotateY(24deg);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
    }
    .progressbar {
      top: 15rem;
      left: 64rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
    }

    .progress-container {
      top: 15rem;
      left: 64rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
    }
}

/* Large Devices (Ordinateurs de bureau) : de 993px à 1200px */
@media (min-width: 1131px) and (max-width: 1360px) {
  /* Styles spécifiques pour les ordinateurs de bureau */
  /* Styles spécifiques pour les grands écrans */
  .explorer {
      height: 50px;
      background-color: #0A0095;
      width: 14rem;
      color: wheat;
      border-radius: 9px;
      cursor: pointer;
      border: none;
      font-size: 20px;
      position: relative;
      top: 12rem;
    }
    .tedy-banner {
      z-index: 0;
      position: relative;
      bottom: 46rem;
      left: 5rem;
      color: #f6f6f6;
    }
  
    .tedy-banner-h1 {
      font-size: 12rem;
      font-weight: 500;
    }
  
    .tedy-banner span {
      font-size: 1.2rem;
      margin-left: 16px;
    }
    .tedy {
      margin-left: 100px;
    }
    .Connexion {
      width: 12rem;
    }
    .navbar-links-container a {
      margin-right: 3rem;
    }
    .year-banner {
    position: relative;
    width: 28rem;
    font-size: 18rem;
    font-family: Bebas Neue;
    left: 32rem;
    top: 4rem;
    color: #806C51;
    font-weight: 500;
    z-index: 1;
    font-weight: 600;
    line-height: 1rem;
    }
    .name-banner {
      width: 20rem;
      position: relative;
      left: 42rem;
      top: 6rem;
      z-index: 2;
      font-weight: 700;
      line-height: 36px;
      color: #A1B0FF;
      font-size: 44px;
    }
    .blur-description {
      width: 28rem;
      height: 9rem;
      background-color: #747BBF;
      color: #000;
      padding: 20px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.2);
      color: #f6f6f6;
      margin-left: 34rem;
      bottom: 5rem;
      position: relative;
      font-weight: 500;
      font-family: "Outfit", sans-serif;
    }
    .combat-presentation {
      padding: 0 40px 0 113px;
    }
    .dates-banner {
      bottom: 43px;
    }
    .champion-image img {
      display: block;
      width: 56rem;
      height: 21rem;
      transform: perspective(1500px) rotateY(24deg);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;
    }
    .progressbar {
      top: 15rem;
      left: 68rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
    }

    .progress-container {
      top: 15rem;
      left: 68rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
    }
}

/* Extra Large Devices (Grands écrans) : à partir de 1201px */
@media (min-width: 1361px) {
  /* Styles spécifiques pour les grands écrans */
  .explorer {
      height: 50px;
      background-color: #0A0095;
      width: 14rem;
      color: wheat;
      border-radius: 9px;
      cursor: pointer;
      border: none;
      font-size: 20px;
      position: relative;
      top: 12rem;
    }
  .tedy-banner {
    z-index: 0;
    position: relative;
    bottom: 46rem;
    left: 5rem;
    color: #f6f6f6;
    }
  
  .tedy-banner-h1 {
    font-size: 15rem;
    font-weight: 500;
  }

  .tedy-banner span {
    font-size: 1.5rem;
    margin-left: 16px;
  }
  .Connexion {
    width: 12rem;
  }
  .navbar-links-container a {
    margin-right: 3rem;
  }
  .year-banner {
    position: relative;
    width: 28rem;
    font-size: 20rem;
    font-family: Bebas Neue;
    left: 41rem;
    top: 7rem;
    color: #806C51;
    font-weight: 500;
    z-index: 1;
    font-weight: 600;
    line-height: 1rem;
  }
  .combat-presentation {
    padding: 0px 40px 0 113px;
  }
  .champion-image{
    width: 790px;
  }
  .champion-image img {
    display: block;
    width: 56rem;
    height: 21rem;
    transform: perspective(1500px) rotateY(24deg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  .blur-description {
    width: 30rem;
    height: 9rem;
    background-color: #747BBF;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #f6f6f6;
    margin-left: 40rem;
    bottom: 5rem;
    position: relative;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
  }
  .name-banner {
    width: 30rem;
    position: relative;
    left: 51rem;
    top: 11rem;
    z-index: 2;
    font-weight: 700;
    line-height: 36px;
    color: #A1B0FF;
    font-size: 44px;
  }
    .progressbar {
      top: 15rem;
      left: 83rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
    }
  
    .progress-container {
      top: 15rem;
      left: 83rem;
      bottom: 0;
      width: 10px;
      height: 20rem;
      /* Couleur de fond grise */
      z-index: 1;
      border-radius: 32px;
      /* Assurez-vous que le conteneur est en arrière-plan */
    }
}
.progressbar {
  transform-origin: 100% 0%;
  position: fixed;
  bottom: 0;
  background: #0016E0;
  transform: scaleY(0);
  z-index: 2;
  border-radius: 32px;
}

.progress-container {
  position: fixed;
  bottom: 0;
  background: #ccc;
  /* Couleur de fond grise */
  z-index: 1;
  border-radius: 32px;
  /* Assurez-vous que le conteneur est en arrière-plan */
}
circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.svg-container{
  margin-right: 55px;
  margin-top: 3px;
}

.Dates-container{
  /* font-size: 50px; */
  background-color: rgb(109, 109, 109);
  /* max-height: 100vh; */
  width: 100vw;
  /* height: 100vh; */
  background-image: url("../src/Assets/Desktop\ -\ 11.png");
  background-size: cover;
  background-position: 50% 66%;
  position: relative;
  /* top: 82rem; */
  z-index: 2;
  margin-top: 100vh;
}

.dates-banner{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: #000;
      position: relative;
}

.window {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #f6f6f6;
}

main {
  user-select: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

ul {
  display: flex;
  width: 80%;
}
li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
  padding: 28px;
  color: #f6f6f6;
}
li.selected {
  /* background: #eeeeee00; */
  color: #0d00ff;
  text-shadow: 0 0 52px #1100ff, 0 0px 0 #1100ff, 0 0 50px #1100ff;
}
li button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #000;
  margin-left: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.combat{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
  color: #f6f6f6;
      height: 85vh;
}


.champion-image {
  position: relative;
  display: inline-block;
  /* Largeur spécifiée */
}

.champion-image:hover img {
  transform: perspective(1500px) rotateY(0deg);
  /* Réinitialisation de la transformation au survol */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  /* Réinitialisation de l'ombre au survol */
  filter: blur(1px);
}

.champion-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.champion-image:hover .champion-info {
  visibility: visible;
  opacity: 1;
}



.circle-separator{
  width: 20px;
  cursor: auto;
}

.Connexion {
  height: 60px;
  background-color: #0A0095;
  color: wheat;
  border-radius: 9px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  /* Ajout de position relative */
  overflow: hidden;
  /* Masquage du texte débordant */
}

.Connexion::before {
  content: 'Connexion';
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  /* Ajout de la transition */
  /* transform: translateY(-100%); */
}

.Connexion:hover::before {
  content: 'ADMIN';
  /* Changement de texte au survol */
  transform: translateY(0);
  /* Animation de transition */
}
.Main{
  height: 50px;
  background-color: #0A0095;
  width: 10rem;
  height: 45px;
  color: wheat;
  border-radius: 9px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin: 20px 30px 20px 20px;
}
.Main-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}
